.section-title 
	font-family: 'Pacifico', cursive
	text-align: center
	font-size: 34px
	&::after
		content: ""
		display: block
		height: 4px 
		width: 242px
		background-color: #0088CC
		border-radius: 50px
		margin: 0 auto